rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Files are stored in a folder structure: /users/{userId}/{fileId}
    // This rule ensures that a user can only access files within their own folder.
    match /users/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
