@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 91%; /* #E8E8E8 */
    --foreground: 210 31% 28%; /* #30475E */

    --card: 0 0% 100%;
    --card-foreground: 210 31% 28%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 31% 28%;

    --primary: 210 31% 28%; /* #30475E */
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 210 31% 28%;

    --muted: 0 0% 90%;
    --muted-foreground: 210 31% 48%;

    --accent: 202 18% 52%; /* #6E8898 */
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 87%;
    --input: 0 0% 93%;
    --ring: 202 18% 52%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 31% 15%;
    --foreground: 0 0% 91%;

    --card: 210 31% 20%;
    --card-foreground: 0 0% 91%;

    --popover: 210 31% 15%;
    --popover-foreground: 0 0% 91%;

    --primary: 0 0% 91%;
    --primary-foreground: 210 31% 28%;

    --secondary: 210 31% 25%;
    --secondary-foreground: 0 0% 91%;

    --muted: 210 31% 25%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 202 18% 42%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 31% 30%;
    --input: 210 31% 30%;
    --ring: 202 18% 42%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
